<h1><%= @assignment.title %></h1>
<p>Article Category: <%= @assignment.category %></p>
<p><%= @assignment.body %></p>


<p>Link to Article: <%= link_to @assignment.link, @assignment.link %></p>

<% if @assignment.submit == "No" %>
    <%= link_to "Edit", "/assignments/#{@assignment.id}/edit", class:'btn btn-primary' %>       
<% end %>
    <%= link_to "All Assignments", assignments_path, class:"btn btn-secondary" %>
