<div class="jumbotron">
    <div class="jumbotron-overlay">
        <h1 class="display-3">Yay Science!</h1>
        <p class="lead"> And yay learning. In seventh grade, we focus on Life Science - hence the cells - but we don't want to limit ourselves to learning about only human biology. Each week, students will find a science-related article that piques their interest and submit an abstract. </p>
        <hr class="my-4">
        <p>In this app, students are able to work on and submit their "Science Reporter" assignments. It's also a place to check out the articles that students have reported on thus far - see the latest listed on the right!</p>
        <p class="lead">
            <% if logged_in? %>
                <%= link_to "Go To Your Profile", user_path(current_user), class:"btn btn-primary btn-lg" %>
            <% else %>
                <%= link_to "Log In", new_session_path, class:"btn btn-primary btn-lg" %>
                <%= link_to "Sign Up", new_user_path, class:"btn btn-primary btn-lg" %> 
            <% end %>
        </p>
    </div>  
</div>

<p><strong>How to use this portal:</strong> <%= link_to"Log in", new_session_path %> or <%= link_to "create an account", new_user_path %>, then post your Science Reporter assignments. Feel free to keep coming back to work on your assignment until you're ready to submit it. </p>
