<h1>New Teacher Sign Up</h1>

<%= form_for @teacher do |f| %>
    <%= f.text_field :name, placeholder:"First Name" %><br />
    <%= f.text_field :surname, placeholder:"Last Name" %><br />
    <%= f.text_field :email, placeholder:"Email" %><br />
    <%= f.password_field :password, placeholder:"Password" %><br />
    <%= f.password_field :password_confirmation, placeholder:"Confirm Password" %><br /><br />

    <%= f.submit %>
<% end %>