<!DOCTYPE html>
<html>
  <head>
    <title>HomeworkPortal</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav>
    <ul class="nav justify-content-end">
    <% if logged_in? %>  
      <li class="nav-item">
        <% if current_user.admin %>
          <%= link_to "Logged in as #{current_user.name} #{current_user.surname}", teacher_path(current_user), class: "nav-link" %>
        <% else %>
          <%= link_to "Logged in as #{current_user.name} #{current_user.surname}", student_path(current_user), class: "nav-link" %>
        <% end %>
      </li>
      <li class="nav-item">
          <%= link_to "Log Out", logout_path, method: 'delete', class: "nav-link active" %>
      </li>

    <% else %>
      <li class="nav-item"> 
        <%= link_to "Log In", new_session_path, class: "nav-link" %>
      </li>
      <li class="nav-item"> 
        <%= link_to "Teacher Sign Up", new_teacher_path, class: "nav-link" %>
      </li>
      <li class="nav-item"> 
        <%= link_to "Student Sign Up", new_student_path, class: "nav-link" %>
      </li>  
    <% end %>
    </ul>
    </nav>  

    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>">
        <%= value %>
      </div>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
