<!DOCTYPE html>
<html>
  <head>
    <title>HomeworkPortal</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <%= render 'layouts/partials/navbar' %>
      <%= render 'layouts/partials/flash' %> 

    
    <div class="container">
        <div class="row">
          <div class="col-3">
            <h2>Articles</h2>
              <% @reports.each do |a| %>
                <%= link_to a.title.truncate(30), "#{a.link}", target:"_blank" %><br />
              <% end %>
          </div>
          <div class="col-9"> <%= yield %></div>
        </div>

     
    </div>

  </body>
</html>
